.websiteColor {
  background-color: #50DAEE !important;
}

.headerColor {
  /* background: linear-gradient(180deg, #028AD2 0%, #0070AC 100%); */
  background: #15343c;
}

.darkerWebsiteColor {
  background-color: #40B2C1 !important;
}

.darkerTextColor {
  color: #40B2C1 !important;
}

.aestheticColor1 {
  background-color: #081517 !important;
}

.greyishColor {
  background-color: #eeeeee !important;
}

.darkGreyishColor {
  background-color: #91b1d281 !important;
}

.bluishBlack {
  /* background: linear-gradient(#50DAEE, #000000); */
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(80, 218, 238, 1) 100%);
}

html, body {
  background: #EBFAFF !important;
}

.bigText {
  color: #fff;
  font-size: 70px;
  font-weight: 500;
  line-height: 1.28;
  margin-bottom: 27px;
}

.styleCarousel {
  border-radius: 25px !important;
}

.borderRight {
  border-radius: 0px 25px 25px 0px;
}

.borderLeft {
  border-radius: 25px 0px 0px 25px;
}

.roundedBottom {
  border-radius: 0px 0px 50px 50px;
}

.roundedTop {
  border-radius: 25px 25px 0px 0px;
}

.thickBorder {
  border: 37px solid #40B2C1 !important
}

.thinBorder {
  border: 7px solid #40B2C1 !important
}

.dashboardSlogan {
  display: flex !important;
}

/* .carousel-inner:after {
      content:"";
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  } */

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 500px;
  margin-right: 10px;
  background: #40B2C1;
  counter-increment: gallery-cell;
  border-radius: 30px;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  /* content: counter(gallery-cell); */
  line-height: 500px;
  font-size: 80px;
  color: white;
  border-radius: 30px;

}


/* For Appointment and Medical Record Cards */

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}


.cards-custom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card-custom {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card-custom:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #D7BDCA;
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.socialIcons {
  color: #4a4d5081;
  fill: currentColor;
}

#signup-form>div {
  padding-left: 50px;
  padding-right: 50px;
}

#findDoc-offlineBooking label {
  color: #40B2C1 !important;
  font-weight: 700;
  padding-left: 10px;
}

#userProfile>.form-group {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

#userProfile label {
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  #dashboardSloganContainer {
    height: 60vh !important;
  }

  .dashboardSlogan h1 {
    padding: 0px !important;
    font-size: 5vh !important;
  }

  .dashboardSlogan>div {
    width: 100% !important;
  }

  .dashboardSlogan button {
    margin: 0 !important;
  }

  .dashboardSlogan>div>div {
    padding: 20px !important;
  }

  .dashboardSlogan p {
    padding: 0px !important;
    /* display: block !important; */
    width: 100% !important;
    font-size: medium !important;
  }

  #doctorDashboard {
    display: none;
  }

  #bookNowContainer {
    padding: 0px !important;
    /* margin: 10px !important; */
    width: 90%;
  }

  #bookNowContainer>div {
    padding: 10px 0px 0px 0px !important;
    width: 100%;
    text-align: center;
  }

  #bookNowContainer h1 {
    font-size: large !important;
  }

  #bookNowContainer p {
    font-size: small !important;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  #bookNowContainer button {
    font-size: large !important;
    margin-bottom: 10px;

  }

  #offerCarousel, #offerCarousel img {
    height: auto !important;
  }

  #customerReview>div>div {
    width: 100% !important;
    padding: 0px !important;
  }

  #customerReview h2 {
    font-size: large;
    padding-bottom: 0px !important;
  }

  #customerReview h5 {
    font-size: x-small !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 80% !important;
  }

  #customerReview span {
    font-size: small !important;
    /* padding-bottom: 2px !important; */
  }

  #footerInfo, #footerInfo>div>div>div {
    padding: 0px !important;
    margin: 0px !important;

  }

  #footerInfo h4 {
    font-size: small;
  }

  #footerInfo li, #footerInfo span {
    font-size: xx-small;
  }

  #footerInfo svg {
    width: 20px !important;
    height: 20px !important;
  }

  .mobileView {
    display: block !important;
  }

  .desktopView {
    display: none !important;
  }

  #hide_in_mobile {
    display: none !important;
  }

  #happyCircles>div {
    height: 15vh !important;
    width: 15vh !important;
  }

  #happyCircles h2 {
    font-size: 2.5vh !important;
  }

  #happyCircles h3 {
    font-size: 1vh !important;
  }

  .desktopBreak {
    display: none;
  }

  .thickBorder {
    border: 20px solid #40B2C1 !important
  }

  #carouselExampleIndicators {
    padding-top: 0px !important;
  }

  #signupContainer, #loginContainer {
    width: 100% !important;
  }

  .FormsHeightMobile {
    height: 80vh !important;
  }

  #findDoc-offlineBooking>div {
    width: 100% !important;
  }

  #findDoc-offlineBooking label {
    color: #40B2C1 !important;
    font-weight: 500;
  }

  .button-offlineBooking {
    text-align: center !important;
    padding-top: 10px;
  }

  .docCard-offlineBooking>div {
    width: 100% !important;
  }

  .docCard-offlineBooking img {
    width: 50% !important;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }

  .docCard-offlineBooking a {
    width: 100% !important;
    font-size: small;
  }

  .docCard-offlineBooking {
    text-align: center;
  }

  .docCard-parent-offlineBooking {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: #102b2f !important;
    /* border-radius: 30px !important; */
  }

  .docCard-offlineBooking span {
    font-size: smaller;
  }

  .doc-location {
    margin-bottom: 5px;
  }

  #row-bookPatient>div {
    width: 100%;
  }

  .fieldName-bookPatient {
    width: 30% !important;
    font-size: smaller !important;
  }

  .fieldEntry-bookPatient {
    width: 70% !important;
  }

  .fieldEntry-bookPatient h3 {
    font-size: smaller !important;
  }

  .dateCSS {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }

  #slotContainer-bookPatient {
    font-size: smaller;
  }

  #slotContainer-bookPatient .col-2 {
    width: 25% !important;
  }

  #slotContainer-bookPatient .col-8 {
    width: 75% !important;
  }

  #slotContainer-bookPatient button {
    margin: 2px !important;
    font-size: smaller;
  }

  #saveMedRecHeading {
    width: 100% !important;
    text-align: center;
  }

  #saveMedRecContainer {
    width: 90% !important;
    text-align: center;
    height: fit-content !important;
    padding-bottom: 20px;
  }

  #saveMedRecContainer button {
    font-size: xx-small !important;
  }

  #saveMedRecContainer>button>span {
    margin-right: 0px !important;
  }

  #sort_span-medRec {
    margin-left: 0px !important;
  }

  .folderIcon {
    font-size: 50px !important;
  }

  .folderContainer {
    width: 70px !important;
    margin-right: 10px !important;
  }

  .folderIconName {
    font-size: 10px !important;
    width: 70px !important;
  }

  #folderScroll {
    height: fit-content !important;
    margin-top: 25px !important;
  }

  #fileScroll {
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 200px !important;
  }

  #fileContainer {
    flex-wrap: nowrap !important;
    margin-left: auto !important;
  }

  #fileContainer>button {
    width: fit-content;
  }

  #fileContainer>button>span {
    font-size: small;
  }

  #fileContainer>span {
    margin-left: 10px !important;
    width: 40% !important;
    font-size: x-small !important;
    align-self: center !important;
    height: 100% !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

}

@media only screen and (min-width: 600px) {
  .mobileView {
    display: none !important;
  }

  .desktopView {
    display: block !important;
  }

  .folderContainer {
    margin-left: 30px !important;
  }

  #fileScroll {
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 250px !important;
  }

}