html {
    scroll-behavior: smooth;
}

/* <style>body{font-family:'TruenoRound'}</style> */

body {
    background: #ffffff !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    min-height: 100vh;
    background-color: papayawhip;
    margin: 0 auto;
}

#footer ul>li>a{
    text-decoration: unset;
}
#navAfterLogin{
    height: 10vh;
}
#navBeforeLogin{
    height: 10vh;
}

.dashboard-frame {
    /* filter: drop-shadow(14px 13px 4px rgba(0, 0, 0, 0.25)); */
    /* border-radius: 30px; */
    height: 87vh;
    /* margin-top: 5vh; */
    margin-bottom: 10vh;
}

.dashboard-rectangle {
    background: #a4edff3b;
    /* border-radius: 62px; */
}

.dashboard-doctor {
    position: absolute;
    margin-left: auto;
    /* margin-right: 5%; */
    top: 15vh;
    /* left: 0px; */
    /* height: 85%; */
    height: 40vw;
    z-index: 100;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
}

.amoeba {
    width: 100%;
    height: 86vh;
}

.dashboard-headline {
    font-weight: 700;
    /* font-style: italic; */
    /* font-size: 4vw; */
    letter-spacing: normal !important;
    line-height: 1.5 !important;
    color: #1D2B4F;
}

.dashboard-content {
    font-size: 1.5vw;
    font-weight: 600;
    /* font-style: italic; */
    color: #12253d;
}

.dashboard-knowmore {
    font-weight: 700;
    font-size: large !important;
    color: #1D2B4F;
}

.button-color {
    background: #284F8F !important;
}

.bookAppointment-card {
    height: fit-content;
    background: linear-gradient(179.77deg, #97E2EF 0.2%, #31B9D0 99.8%);
    border-radius: 59px;
    margin-bottom: 10vw !important;
    width: 75% !important;
}

.uploadDocument-card {
    background: linear-gradient(180deg, #9AD2FF 0%, #6ABDFF 100%);
}

.dashboard-card-headline {
    font-weight: 700 !important;
    /* font-style: italic; */
    font-size: 3vw;
    color: #1D2B4F;
    line-height: normal;
}

.dashboard-card-content {
    font-size: 1.5vw;
    /* font-weight: 600; */
    /* font-style: italic; */
    color: #12253d;
}

.bookAppointmentCard-image {
    margin-left: -7vw;
    height: auto !important;
}

.uploadDocumentCard-image {
    margin-top: -7vw;
    margin-right: -7vw !important;
    height: auto !important;
}

.uploadDocument-contentCol {
    width: 80%;
}

.dashboard-card-button {
    width: fit-content;
}

.why-us-container {
    background: ghostwhite;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -2px 4px rgba(0, 0, 0, 0.25); */
    /* margin-left: 0px !important;
    margin-right: 0px !important; */
    max-width: 100% !important;
}

.why-us-heading {
    font-size: 3rem;
    font-weight: bolder;
    width: 100%;
}

.whyJoin-cards {
    transform: scaleX(-1);
    /* float:inherit; */
    height: 200px;
}

.whyPatient-reason-card {
    /* background: linear-gradient(180deg, #846EB0 0%, #524273 100%); */
    background: mistyrose !important;
    width: fit-content !important;
    /* color: white; */
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px !important;
}

.whyDoctor-reason-card {
    /* background: linear-gradient(180deg, #B5E5E7 0%, #8CE7EB 100%); */
    /* background: skyblue !important; */
    background: lightsteelblue !important;
    width: fit-content !important;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px !important;
}


/* Why Hover Flip Cards */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 250px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front-patient, .flip-card-back-patient, .flip-card-front-doctor, .flip-card-back-doctor{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* .flip-card-back-patient span, .flip-card-back-doctor span{
    padding:;
  } */
  
 /* Style the back side */
 .flip-card-back-patient {
    background: mistyrose !important;
    color: black;
    transform: rotateY(180deg);
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front-patient {
    background: mistyrose !important;
    color: black;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front-doctor {
   background: lightsteelblue !important;
   color: black;
 }
  /* Style the back side */
  .flip-card-back-doctor {
    background: lightsteelblue !important;
    color: black;
    transform: rotateY(180deg);
  }



.siteGrowth-infoCards {
    height: 107px;
    justify-content: center;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);   */
}

.siteGrowth-infoCards-data {
    font-size: xx-large;
    font-weight: bolder;
}


/* Promotional Content  */

.promotion {}

.promotion-items {
    height: 100%;
}

.promotion-cards {
    height: 100%;
    text-align: center;
    background-color: #12253d !important;
}

.promotion-cards>.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Testiomonials */

.testimonials {
    width: 1100px !important;
    margin: auto;
    background-color: paleturquoise;
    min-height: fit-content !important;
    height: 400px !important;
}

.testimonial-items {
    height: 100%;
}

.testimonial-cards {
    height: 100%;
    text-align: center;
    background-color: #E3FAFF !important;
    width: 800px !important;
    /* min-width: fit-content !important; */
}

.testimonial-cards>.card-body {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
}

.testimonial-title {
    font-size: 30px !important;
}

.testimonial-content {
    font-size: 20px !important;
}

.carousel-inner {
    height: 100% !important;
    color: black !important;
}

.accordion-button {
    /* background: #3DACDC !important;
    color: white !important;
    font-weight: 700; */
}

.doctor-card {
    /* width: 250px !important; */
    height: 270px !important;
}

.doctor-card-thumbnail {
    height: 70%;
}

.doctor-card-inner {
    margin: auto;
    position: relative;
    width: 280px !important;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.doctor-card:hover .doctor-card-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.doctor-card-front,
.doctor-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 25px;
}


/* Style the front side (fallback if image is missing) */

.doctor-card-front {
    background-color: rgb(231 250 255);
    color: black;
}


/* Style the back side */

.doctor-card-back {
    background-color: rgb(200 244 255);
    transform: rotateY(180deg);
}

.doctor-card-info {
    align-items: center;
}

.css-19kzrtu {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.infoButton {
    background-color: #f3e5f5 !important;
}

.infoButton-icon {
    background-color: #ab47bc !important;
}

.editableButton {
    background-color: #e3f2fd !important;
}

.patient-list {
    padding: 0px !important;
    padding-left: 16px !important;
    /* border-color: white !important; */
}

.opening-quote {
    position: absolute;
    /* top: -20px; */
    margin-top: -25px !important;
    transform: scale(-1);
    font-size: 100px !important;
    z-index: 10 !important;
    color: lightblue;
}

.closing-quote {
    position: absolute;
    /* bottom: 0px; */
    right: 0px;
    /* transform: scaleY(-1); */
    font-size: 100px !important;
    margin-top: -25px !important;
    z-index: 10 !important;
    color: lightblue;
}

.hospitalSeatsImg {
    background: url('../images/whoWeAre/hospitalSeats.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


/* .modalStyle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: black;
    border: 2px solid #000;
    box-shadow: 24;
    padding: 40px;
    color: white;
} */


/* MEDIA QUERIES */


/* For Tablets */

@media only screen and (max-width: 767px) {
    #navAfterLogin{
        height: 6vh;
    }
    #navBeforeLogin{
        height: 6vh;
    }

    .dashboard-doctor {
        /* width: 100%; */
        height: auto;
        width: inherit;
        top: 6vh;
        left: 0px;
    }
    .dashboard-knowmore {
        align-self: center;
        margin-bottom: 50px;
    }
    .dashboard-frame {
        margin-left: 10px;
        margin-right: 10px;
        height: fit-content;
    }
    .dashboard-rectangle {
        height: fit-content;
        border-radius: 10px;
        text-align: center;
    }
    .dashboard-rectangle {
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* .dashboard-doctor {
        width: fit-content;
        margin-right: 0px;
    } */
    .bookAppointment-card {
        width: 100% !important;
        border-radius: 10px;
        max-width: 90% !important;
    }
    .dashboard-card-content {
        font-size: 0.7rem;
    }
    .dashboard-card-headline {
        font-size: 1.2rem;
    }
    .dashboard-card-button {
        font-size: xx-small !important;
    }
    .amoeba {
        width: 100%;
        height: fit-content;
    }
    .testimonial-cards {
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 444px) {
    .dashboard-headline {
        font-size: 0.8rem;
        /* text-align: center; */
        width: 100%;
    }
    .dashboard-content {
        display: none;
        font-size: .7rem;
        /* text-align: center; */
    }
    .dashboard-knowmore {
        text-align: center;
        font-size: large !important;
    }
    .dashboard-frame {
        margin-left: 0px !important;
        margin-right: 0px !important;
        height: fit-content;
        /* margin-top: 20px; */
        margin-bottom: 30px;
    }
    .dashboard-card-content {
        display: none;
    }
    .dashboard-card-headline {
        font-size: 15px;
    }
    .bookAppointment-contentCol {
        padding: 0 !important;
    }
    .uploadDocument-contentCol {
        padding-right: 0 !important;
    }
    .whyJoin-cards {
        /* float: right; */
        height: 200px;
    }
    .whyjoin-doc-pat-container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .siteGrowth-infoCards-data {
        font-size: large;
        font-weight: bolder;
    }
    .why-us-heading {
        font-size: 2rem;
        font-weight: bolder;
        width: 100%;
    }
    .why-us-container {
        text-align: center;
    }
    .slotButton {
        font-size: xx-small !important;
        padding-left: 3px !important;
        padding-right: 3px !important;
        padding-top: 1px !important;
        padding-bottom: 1px !important;
    }
    .testimonials {
        height: 300px !important;
    }
    .testimonial-title {
        font-size: 20px !important;
    }
    .testimonial-content {
        font-size: 13px !important;
    }
    .flip-card {
        width: 280px;
        height: 250px;
      }
}